form {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0 auto;
    border: 1px solid #e7e7e7;
    padding: 40px;
    border-radius: 10px;
}

form input {
    margin-bottom: 20px;
    padding: 10px 15px;
    outline: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}

form input:focus {
}

form input[type="submit"] {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

form input[type="submit"]:hover {
    background-color: #449d44;
}